.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-top: 120px;
    margin-left: 105px;
    margin-right: 80px;
}
.cart-container{
    background-color: rgb(245, 158, 127);
}